body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
/* body.dark-mode {
    background-color: black;
    color: white;
}
.container.dark-mode {
    max-width: 600px;
    margin: 0 auto;
    background: #383838;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    
}
#modes.dark-mode{
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: x-large;
    background-color: transparent;
} */
.nav{
    position: absolute;
    right: 2rem;
}
/* option{
    background-color: aquamarine;
} */
#modes{
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
    background-color: transparent;
}
.container {
    visibility: hidden;
    max-width: 600px;
    margin: 0 auto;
    background: #e2dfdf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    
}
h1 {
    text-align: center;
    color: #6c6c6c;
}
.question {
    margin-bottom: 20px;
}
.question p {
    font-weight: bold;
}
.question input {
    margin-right: 10px;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #0056b3;
}
.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
}
.start{
    /* margin-top: 15%; */
    position: absolute;
    top: 30%;
    left: 11%;
    display: flex;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#start{
    font-family: monospace;
    padding: 3rem;
    font-size: 5rem;
    border-radius: 5%;
    background: linear-gradient(135deg,yellow,rgb(101, 255, 101));
    /* transition: background 0.3s, color 0.3s; */
}